## Introduction

In this notebook we preprocess a dataset of [Premier League statistics from season 2006/2007 to 2017/2018](https://www.kaggle.com/zaeemnalla/premier-league).

In [12]:
import pandas as pd
df = pd.read_csv('stats.csv')

## Data types

The data set has 42 columns.

In [14]:
len(df.columns)

42

All the columns except for Team and Season are numerical data types.

In [15]:
df.columns

Index(['team', 'wins', 'losses', 'goals', 'total_yel_card', 'total_red_card',
       'total_scoring_att', 'ontarget_scoring_att', 'hit_woodwork',
       'att_hd_goal', 'att_pen_goal', 'att_freekick_goal', 'att_ibox_goal',
       'att_obox_goal', 'goal_fastbreak', 'total_offside', 'clean_sheet',
       'goals_conceded', 'saves', 'outfielder_block', 'interception',
       'total_tackle', 'last_man_tackle', 'total_clearance', 'head_clearance',
       'own_goals', 'penalty_conceded', 'pen_goals_conceded', 'total_pass',
       'total_through_ball', 'total_long_balls', 'backward_pass',
       'total_cross', 'corner_taken', 'touches', 'big_chance_missed',
       'clearance_off_line', 'dispossessed', 'penalty_save',
       'total_high_claim', 'punches', 'season'],
      dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 42 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   team                  240 non-null    object
 1   wins                  240 non-null    float64
 2   losses                240 non-null    float64
 3   goals                 240 non-null    float64
 4   total_yel_card        240 non-null    float64
 5   total_red_card        240 non-null    float64
 6   total_scoring_att     240 non-null    float64
 7   ontarget_scoring_att  240 non-null    float64
 8   hit_woodwork          240 non-null    float64
 9   att_hd_goal           240 non-null    float64
 10  att_pen_goal          240 non-null    float64
 11  att_freekick_goal     240 non-null    float64
 12  att_ibox_goal         240 non-null    float64
 13  att_obox_goal         240 non-null    float64
 14  goal_fastbreak        240 non-null    float64
 15  total_offside         240 non-null    float64
 16  clean_sheet           240 non-null    float64
 17  goals_conceded        240 non-null    float64
 18  saves                 220 non-null    float64
 19  outfielder_block      240 non-null    float64
 20  interception          240 non-null    float64
 21  total_tackle          240 non-null    float64
 22  last_man_tackle       240 non-null    float64
 23  total_clearance       240 non-null    float64
 24  head_clearance        220 non-null    float64
 25  own_goals             240 non-null    float64
 26  penalty_conceded      240 non-null    float64
 27  pen_goals_conceded    240 non-null    float64
 28  total_pass            240 non-null    float64
 29  total_through_ball    220 non-null    float64
 30  total_long_balls      240 non-null    float64
 31  backward_pass         160 non-null    float64
 32  total_cross           240 non-null    float64
 33  corner_taken          240 non-null    float64
 34  touches               240 non-null    float64
 35  big_chance_missed     160 non-null    float64
 36  clearance_off_line    240 non-null    float64
 37  dispossessed          220 non-null    float64
 38  penalty_save          240 non-null    float64
 39  total_high_claim      240 non-null    float64
 40  punches               240 non-null    float64
 41  season                240 non-null    object
dtypes: float64(40), object(2)
memory usage: 78.9+ KB

## Data quality

Analyzing the dataset we can see that values seem to be OK.

In [21]:
df.describe(include = 'all')

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
count,240,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,...,240.000000,240.000000,240.000000,160.000000,240.000000,220.000000,240.000000,240.000000,240.000000,240
unique,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
top,Manchester United,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-2007
freq,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
mean,NaN,14.150000,14.150000,51.062500,61.079167,2.862500,514.241667,168.116667,12.283333,9.016667,...,831.370833,207.191667,23908.962500,39.200000,4.991667,472.968182,0.837500,54.920833,22.783333,NaN
std,NaN,6.022482,5.596846,16.203474,10.078249,1.802442,95.979164,38.748882,4.820950,3.659077,...,118.551756,35.933177,3247.161627,13.391915,2.804646,84.653006,0.947718,18.780999,9.148869,NaN
min,NaN,1.000000,2.000000,20.000000,38.000000,0.000000,338.000000,94.000000,4.000000,1.000000,...,572.000000,136.000000,16772.000000,18.000000,0.000000,296.000000,0.000000,19.000000,4.000000,NaN
25%,NaN,10.000000,10.000000,40.000000,54.000000,1.000000,441.000000,140.000000,9.000000,6.000000,...,749.000000,180.000000,21577.000000,30.000000,3.000000,412.750000,0.000000,40.000000,17.000000,NaN
50%,NaN,12.000000,15.000000,47.000000,60.500000,3.000000,498.500000,158.500000,11.500000,9.000000,...,818.000000,201.000000,23168.500000,37.000000,5.000000,465.000000,1.000000,53.000000,22.000000,NaN
75%,NaN,18.000000,19.000000,61.000000,67.000000,4.000000,572.000000,194.250000,15.000000,12.000000,...,911.250000,230.000000,26294.000000,44.250000,7.000000,522.500000,1.000000,68.000000,27.000000,NaN
max,NaN,32.000000,29.000000,106.000000,94.000000,9.000000,834.000000,288.000000,33.000000,18.000000,...,1156.000000,309.000000,35130.000000,88.000000,16.000000,776.000000,5.000000,118.000000,66.000000,NaN

## Missing values

As we see, there are multiple columns that contain null values. We remove those values from dataset.

In [22]:
df.isnull().sum()

team                     0
wins                     0
losses                   0
goals                    0
total_yel_card           0
total_red_card           0
total_scoring_att        0
ontarget_scoring_att     0
hit_woodwork             0
att_hd_goal              0
att_pen_goal             0
att_freekick_goal        0
att_ibox_goal            0
att_obox_goal            0
goal_fastbreak           0
total_offside            0
clean_sheet              0
goals_conceded           0
saves                   20
outfielder_block         0
interception             0
total_tackle             0
last_man_tackle          0
total_clearance          0
head_clearance          20
own_goals                0
penalty_conceded         0
pen_goals_conceded       0
total_pass               0
total_through_ball      20
total_long_balls         0
backward_pass           80
total_cross              0
corner_taken             0
touches                  0
big_chance_missed       80
clearance_off_line       0
dispossessed            20
penalty_save             0
total_high_claim         0
punches                  0
season                   0
dtype: int64

In [27]:
df.drop(columns=['saves', 'head_clearance', 'total_through_ball', 'total_through_ball', 'backward_pass', 'big_chance_missed', 'dispossessed'], inplace=True)

In [28]:
df.isnull().sum()

team                    0
wins                    0
losses                  0
goals                   0
total_yel_card          0
total_red_card          0
total_scoring_att       0
ontarget_scoring_att    0
hit_woodwork            0
att_hd_goal             0
att_pen_goal            0
att_freekick_goal       0
att_ibox_goal           0
att_obox_goal           0
goal_fastbreak          0
total_offside           0
clean_sheet             0
goals_conceded          0
outfielder_block        0
interception            0
total_tackle            0
last_man_tackle         0
total_clearance         0
own_goals               0
penalty_conceded        0
pen_goals_conceded      0
total_pass              0
total_long_balls        0
total_cross             0
corner_taken            0
touches                 0
clearance_off_line      0
penalty_save            0
total_high_claim        0
punches                 0
season                  0
dtype: int64

## Feature creation

As we can see, there is no column for draws or total matches so we can create that. After creating the columns we change their location.

In [56]:
df['draws'] = 38 - df['wins'] - df['losses']
df['total_matches'] = df['wins'] + df['losses'] + df['draws']
new_column = df.pop('draws')
df.insert(2, 'draws', new_column)
new_column = df.pop('total_matches')
df.insert(1, 'total_matches', new_column)

We can also create a column for points

In [57]:
def calculate_points(wins, draws):
    return 3 * wins + 1 * draws

df['points'] = calculate_points(df['wins'], df['draws'])
new_column = df.pop('points')
df.insert(5, 'points', new_column)

In [58]:
df.describe(include = 'all')

,team,total_matches,wins,draws,losses,points,goals,total_yel_card,total_red_card,total_scoring_att,...,total_pass,total_long_balls,total_cross,corner_taken,touches,clearance_off_line,penalty_save,total_high_claim,punches,season
count,240,240.0,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,...,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240
unique,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
top,Manchester United,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-2007
freq,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
mean,NaN,38.0,14.150000,9.700000,14.150000,52.150000,51.062500,61.079167,2.862500,514.241667,...,15691.908333,2286.150000,831.370833,207.191667,23908.962500,4.991667,0.837500,54.920833,22.783333,NaN
std,NaN,0.0,6.022482,2.753773,5.596846,17.217122,16.203474,10.078249,1.802442,95.979164,...,3176.276737,295.618128,118.551756,35.933177,3247.161627,2.804646,0.947718,18.780999,9.148869,NaN
min,NaN,38.0,1.000000,3.000000,2.000000,11.000000,20.000000,38.000000,0.000000,338.000000,...,9478.000000,1462.000000,572.000000,136.000000,16772.000000,0.000000,0.000000,19.000000,4.000000,NaN
25%,NaN,38.0,10.000000,8.000000,10.000000,39.750000,40.000000,54.000000,1.000000,441.000000,...,13379.750000,2070.000000,749.000000,180.000000,21577.000000,3.000000,0.000000,40.000000,17.000000,NaN
50%,NaN,38.0,12.000000,10.000000,15.000000,47.000000,47.000000,60.500000,3.000000,498.500000,...,14937.000000,2276.500000,818.000000,201.000000,23168.500000,5.000000,1.000000,53.000000,22.000000,NaN
75%,NaN,38.0,18.000000,11.000000,19.000000,64.000000,61.000000,67.000000,4.000000,572.000000,...,18250.250000,2470.500000,911.250000,230.000000,26294.000000,7.000000,1.000000,68.000000,27.000000,NaN
max,NaN,38.0,32.000000,17.000000,29.000000,100.000000,106.000000,94.000000,9.000000,834.000000,...,28241.000000,3176.000000,1156.000000,309.000000,35130.000000,16.000000,5.000000,118.000000,66.000000,NaN

Here is a sample of preprocessed dataset:

In [59]:
df.sample(n=20)

,team,total_matches,wins,draws,losses,points,goals,total_yel_card,total_red_card,total_scoring_att,...,total_pass,total_long_balls,total_cross,corner_taken,touches,clearance_off_line,penalty_save,total_high_claim,punches,season
52,Bolton Wanderers,38.0,11.0,8.0,19.0,41.0,41.0,62.0,1.0,488.0,...,10649.0,2078.0,853.0,201.0,20876.0,5.0,1.0,42.0,28.0,2008-2009
122,Chelsea,38.0,22.0,9.0,7.0,75.0,75.0,51.0,3.0,626.0,...,18425.0,2008.0,863.0,240.0,25959.0,1.0,0.0,53.0,29.0,2012-2013
54,Portsmouth,38.0,10.0,11.0,17.0,41.0,38.0,58.0,5.0,500.0,...,14497.0,2379.0,852.0,194.0,25414.0,9.0,1.0,79.0,26.0,2008-2009
35,Wigan Athletic,38.0,10.0,10.0,18.0,40.0,34.0,59.0,4.0,489.0,...,11684.0,2163.0,767.0,186.0,19855.0,7.0,1.0,68.0,14.0,2007-2008
203,Manchester City,38.0,23.0,9.0,6.0,78.0,80.0,71.0,4.0,633.0,...,22706.0,1997.0,801.0,280.0,30363.0,4.0,2.0,26.0,20.0,2016-2017
89,Bolton Wanderers,38.0,12.0,10.0,16.0,46.0,52.0,67.0,5.0,570.0,...,12704.0,2360.0,850.0,197.0,21351.0,10.0,2.0,46.0,22.0,2010-2011
149,Crystal Palace,38.0,13.0,6.0,19.0,45.0,33.0,58.0,2.0,414.0,...,11792.0,1904.0,706.0,172.0,20309.0,4.0,0.0,81.0,8.0,2013-2014
78,Portsmouth,38.0,7.0,7.0,24.0,28.0,34.0,68.0,5.0,533.0,...,13509.0,1977.0,818.0,189.0,23416.0,4.0,1.0,83.0,27.0,2009-2010
124,Tottenham Hotspur,38.0,21.0,9.0,8.0,72.0,66.0,55.0,2.0,681.0,...,16647.0,2028.0,884.0,262.0,25155.0,6.0,0.0,44.0,30.0,2012-2013
217,Hull City,38.0,9.0,7.0,22.0,34.0,37.0,67.0,5.0,397.0,...,15596.0,2650.0,739.0,179.0,22779.0,6.0,2.0,40.0,18.0,2016-2017
125,Everton,38.0,16.0,15.0,7.0,63.0,55.0,59.0,3.0,633.0,...,15829.0,2055.0,989.0,257.0,23854.0,8.0,0.0,61.0,28.0,2012-2013
12,Aston Villa,38.0,11.0,17.0,10.0,50.0,43.0,48.0,1.0,470.0,...,13254.0,2152.0,886.0,213.0,20002.0,5.0,0.0,57.0,26.0,2006-2007
21,Chelsea,38.0,25.0,10.0,3.0,85.0,65.0,63.0,5.0,605.0,...,17252.0,2154.0,945.0,253.0,26290.0,8.0,0.0,62.0,19.0,2007-2008
80,Manchester United,38.0,23.0,11.0,4.0,80.0,78.0,56.0,3.0,618.0,...,18870.0,2279.0,1005.0,243.0,26671.0,2.0,0.0,45.0,16.0,2010-2011
53,Blackburn Rovers,38.0,10.0,11.0,17.0,41.0,40.0,74.0,4.0,473.0,...,13436.0,2307.0,865.0,199.0,23450.0,9.0,0.0,48.0,36.0,2008-2009
82,Manchester City,38.0,21.0,8.0,9.0,71.0,60.0,71.0,5.0,546.0,...,17768.0,1721.0,762.0,222.0,25892.0,2.0,1.0,66.0,27.0,2010-2011
234,Brighton and Hove Albion,38.0,9.0,13.0,16.0,40.0,34.0,54.0,2.0,384.0,...,14675.0,2774.0,680.0,163.0,21668.0,10.0,2.0,38.0,14.0,2017-2018
236,Swansea City,38.0,8.0,9.0,21.0,33.0,28.0,51.0,1.0,338.0,...,15721.0,2580.0,694.0,150.0,22775.0,1.0,3.0,44.0,15.0,2017-2018
119,Wolverhampton Wanderers,38.0,5.0,10.0,23.0,25.0,40.0,64.0,4.0,473.0,...,14860.0,2249.0,999.0,205.0,22585.0,6.0,2.0,81.0,22.0,2011-2012
95,Wolverhampton Wanderers,38.0,11.0,7.0,20.0,40.0,46.0,62.0,2.0,459.0,...,14823.0,2350.0,1104.0,241.0,22772.0,7.0,0.0,84.0,19.0,2010-2011